body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7; /* พื้นหลังเทาอ่อน */
}

.container {
    max-width: 500px; 
    margin-top: 150px;
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}