.hotel-services{
    display: flex;
    justify-content: space-around;
    padding: 38px 0;
}

.service-item {
    display: flex;
    align-items: center;
    img {
        margin-right: 10px;
    }
}

main{
    margin: 100px 0;
}
.main-header{
    text-align: center;
    p{
        margin: 10px auto;
        width: 800px;
    }
}
.main-header-text{
    display: flex;
    gap: 20px;
    justify-content: center;

    h3{
        font-size: 52px;
    }
}
.main-content{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.content-item{
    margin-bottom: 30px;
}

.content-item-number{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.content-item-text{
    h4{
        font-size: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        color: #7a7a7a;
    }
}

.main-book-rooms-title{
    text-align: center;
    font-size: 24px;
    margin: 10px auto;
    width: 800px;
}

.main-book-rooms-header{
    text-align: center;
    p{
        margin: 10px auto;
        width: 800px;
    }
}

.room-card{
    position: relative;
    transition: transform 0.6s ease-in-out; /* ช้าตอนออก */
}

.room-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; /* เร็วกว่าตอนเข้า */
}

.room-card-text{
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-book-rooms-content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main-book-rooms{
    margin: 100px 0;
}


