/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* ปรับตามความสูงของ Navbar */
}
